#page-top .outline {
        cursor: pointer;
        position: relative;
        z-index: 3;
        background: transparent;
        color: #273842;
        font-size: 14px;
        border-color: #273842;
        border-style: solid;
        border-width: 2px;
        border-radius: 22px;
        padding: 10px 40px;
        text-transform: uppercase;
        transition: all 0.2s linear;
        a {
            text-decoration: none;
        }
    }

#page-top .outline:hover {
        color: white;
        background: #273842;
        border-color: white;
        transition: all 0.2s linear;
    }

#page-top .outline:active {
        border-radius: 22px;
    }
  #page-top  .white-green {
        font-weight: 700;
        color: #1172c4;
        border-color: white;
        background: white;
    }
#page-top .white-green:hover {
        color: white;
        background: #1172c4;
        border-color: white;
    }


#img-size{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/** ADD YOUR AWESOME CODES HERE **/
